body,
html {
  margin: 0;
}
#background-div {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 0;
  /* top: 0; */
}
#table-div {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-items: center;
  align-content: center;
  /* z-index: -1; */
  /* top: 0; */
}
#dish-div {
  background-color: black;
  border-radius: 180px;
  height: 350px;
  width: 350px;
  background-size: contain;
  margin: 100px;
}
#drink-div {
position: absolute;
  background-color: black;
  border-radius: 180px;
  top: 210px;
  left: 530px;
  height: 180px;
  width: 180px;
  background-size: contain;
}
h1 {
  position: absolute; /* doesn't affect others*/
  top: 100px;
  color: black;
  font: size 50px;
  /* justify-content: center;
  align-items: center; */
  text-align: center;
}
button {
  display: flex;
  padding: 10px 20px;
  border-radius: 8px;
  /* font-size: medium; */
  text-align: center;
}
button:hover {
  background-color: rgb(116, 198, 253);
}

